---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Github from '../icons/github.astro';

import '../styles/styles.css';

import avatar from '../images/avatar.webp';
import github from '../icons/github.svg';
import linkedin from '../icons/linkedin.svg';
import dots from '../icons/dots.svg';

const links = [
  {
    component: Github,
    icon: github,
    title: 'Github',
    href: 'https://github.com/agustinm',
  },
  {
    component: Github,
    icon: linkedin,
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/agustinm',
  },
];
---

<Layout title='Linktree Agustin Morales'>
  <main class='grid justify-items-center px-4 py-32'>
    <Image class='h-24 w-24 rounded-full' src={avatar} alt='Avatar' />

    <h1 class='text-center font-bold text-white'>Agustin Morales</h1>
    <h2 class='text-center text-white'>Frontend Developer</h2>
    <div class='mt-8 w-full px-6'>
      <ul class='grid w-full gap-4'>
        {
          links.map((link) => (
            <li class='flex w-full justify-between rounded-xl bg-white px-4 py-2 duration-500 hover:scale-110'>
              {' '}
              <Image class='h-8 w-8' src={link.icon} alt='github' />
              <a class='' href={link.href}>
                {link.title}
              </a>
              <Image
                class='h-8 w-8 text-red-500 duration-300 hover:cursor-pointer'
                src={dots}
                alt='github'
              />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
